/* :root{
    --light-yellow:#FFB400;

} */

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #767676;
}
::-webkit-scrollbar-thumb {
  background-color: #ffc107;
}
body {
  background-color: #f0f0f6;
}
/* start landing-page */

.landing-page .left-page {
  width: 280px;
  background-color: #ffffff;
  height: 1315px;
}
.landing-page .x-page {
  width: 64.66%;
  background-color: #ffffff;
  height: 467.09px;
}

.landing-page .right-page {
  width: 100px;
  background-color: #ffffff;
  height: 1315px;
}
@media (max-width: 767px) {
  .landing-page .x-page {
    height: 600px;
  }
  .landing-page .right-page {
    width: 70px;
  }
}
/*start scroll-up */
.scroll-up {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgb(255, 180, 0);
  right: -500px;
  z-index: 4;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}
/*End scroll-up */
/*start progress */
.progress {
  position: fixed;
  /* width: 8%; */
  height: 6px;
  background: #ffc107;
  left: 0;
  top: 0;
  z-index: 5;
}
/*End progress */

/* End landing-page */
/* start left-page */
.left-page .Profile {
  width: 219px;
  position: relative;
}
.left-page .Profile::after {
  content: "";
  position: absolute;
  width: 241px;
  height: 3px;
  background-color: #f0f0f6;
  bottom: -49px;
  right: -29px;
  border-radius: 5px;
}
.left-page .Profile .social-icon i {
  font-size: 12px;
}
.left-page .about div .available {
  color: #7eb942;
}
.left-page .about:after,
.left-page .Language::after,
.left-page .skills::after,
.left-page .extra-skills::after {
  content: "";
  position: absolute;
  width: 247px;
  height: 3px;
  background-color: #f0f0f6;
  bottom: -29px;
  right: 5px;
  border-radius: 5px;
}
.left-page .Language > div::before,
.left-page .skills > div::before {
  position: absolute;
  content: "";
  height: 8px;
  bottom: -13px;
  border-radius: 12px;
  border: 2px solid #ffb400;
  width: 100%;
}

.left-page .Language > div::after,
.left-page .skills > div::after {
  position: absolute;
  content: "";
  bottom: -10.5px;
  width: 97%;
  height: 3px;
  border-radius: 16px;
  background: #ffb400;
  left: 3px;
}
.left-page .Language > div:last-of-type::after {
  width: 75%;
}
.left-page .skills > div.html::after {
  width: 90%;
}
.left-page .skills > div.css::after {
  width: 85%;
}
.left-page .skills > div.java::after {
  width: 70%;
}
.left-page .skills > div.seo::after {
  width: 70%;
}
.left-page .extra-skills > div i {
  color: #ffb400;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #ffb300b9;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  cursor: pointer;
  margin: 5px auto;
}
.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #ffb400;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* End left-page */

/* start x-page */

@media (min-width: 1100px) {
  .x-page .img-box {
    top: -164px;
    right: -82px;
    max-width: 60%;
    max-height: 132%;
  }
}
@media (max-width: 1100px) {
  .x-page .img-box {
    display: none;
  }
}
.x-page h1 span {
  color: #ffb400;
  line-height: 65px;
}
.x-page .home p {
  color: #767676;
}
.x-page .square-yellow,
.x-page .square-blue,
.x-page .circle-yellow,
.x-page .circle-green,
.x-page .circle-yellow-top,
.x-page .circle-yellow-btn {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}
.x-page .square-yellow {
  right: 5%;
  top: 20%;
  border: 2px solid #ffb400;
}
.x-page .square-blue {
  left: 40%;
  top: 75%;
  border: 2px solid blue;
}
.x-page .circle-yellow {
  border: 2px solid #05ff00;
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
}
.x-page .circle-yellow-top {
  border: 2px solid #ffb400;
  border-radius: 50%;
  top: 8%;
}
.x-page .circle-yellow-btn {
  border: 2px solid #ffb400;
  border-radius: 50%;
  bottom: 10%;
  right: 40%;
}
/* start services */

.services .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.services .boxes .box {
  background: #ffffff;
  /* width: 120%; */
}

.services .boxes .box > i {
  /* font-size: 70px; */
  color: #ffb400;
}
/* End services */
/* start education & Work-History */
.education .box,
.Work-History .box {
  background: #ffffff;
}
.education .box::before,
.Work-History .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(255, 217, 0, 0.063);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.education .box:hover::before,
.Work-History .box:hover::before {
  width: 99%;
  height: 99%;
}

/* End education */
/* start Portfolio */

.Portfolio ul li:first-of-type {
  color: #ffb400;
}
.Portfolio ul li {
  transition: 0.3s;
}
.Portfolio ul li:hover {
  color: rgb(255, 180, 0);
}
.Portfolio .boxes .box {
  position: relative;
  transition: 0.5s;
}
.Portfolio .boxes .box::before {
  position: absolute;
  background: rgb(255 180 0 / 95%);
  top: 0;
  left: 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Portfolio .boxes .box:hover:before {
  content: "+";
  width: 100%;
  height: 100%;
}
/* End Portfolio */
/* start comment */
.comment .information {
  min-width: 35%;
}
/* End comment */
/*start the-end */

/* end the-end */
/* End x-page */

/* start right-page */
.right-page ul li a {
  /* position: relative; */
  margin-left: -23px;
  margin-right: -20px;
}
.right-page ul li a:hover {
  position: relative;
}
.right-page ul li a::before {
  content: "";
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  white-space: nowrap;
  color: #9e9e9e;
  padding: 3px;
  content: attr(attr-page);
  background: #000000cf;
}
.right-page ul li a::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 7.5px;
  top: -11.5px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #000000cf transparent transparent transparent;
}
.right-page ul li a.active {
  background: #ffb400;
  position: relative;
}
.right-page ul li a.active i {
  color: rgb(0, 0, 0);
}
/* End right-page */

/*start Responsive Design */
@media (max-width: 991px) {
  .education,
  .Work-History,
  .Portfolio,
  .comment,
  .google-map {
    min-width: 150%;
  }
  .the-end {
    text-align: center;
    width: 180%;
    padding-bottom: 20px;
  }
  .the-end > div span:first-of-type {
    margin-bottom: 20px;
  }
}
/*End Responsive Design */

/* start animation-start */
.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: rgb(255, 187, 0);
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ffb400;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}
/* End animation-start */

/* start animation-end */
.anim-end {
  left: 50%;
  margin: auto -50px;
  position: absolute;
  top: -102%;
  transform: translateX(-50%);
}

.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}

.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #db412c 0%, #ffb400 100%);
  background: linear-gradient(to right, #db412c 0%, #ffb400 100%);
}

.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #ffb400 0%, #ffb400 100%);
  background: linear-gradient(to right, #ffb400 0%, #ffb400 100%);
}

.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #ffb400 0%, #ffb400 100%);
  background: linear-gradient(to right, #ffb400 0%, #ffb400 100%);
}

.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #db412c 0%, #db412c 100%);
  background: linear-gradient(to right, #db412c 0%, #db412c 100%);
}

.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #ffb400 0%, #ffb400 100%);
  background: linear-gradient(to right, #ffb400 0%, #ffb400 100%);
}

.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #ffb400 0%, #ffb400 100%);
  background: linear-gradient(to right, #ffb400 0%, #ffb400 100%);
}

.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #ffb400 0%, #db412c 100%);
  background: linear-gradient(to right, #ffb400 0%, #db412c 100%);
}

.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: 0.25em;
  border-radius: 50%;
  /* background: transparent; */
}

@-webkit-keyframes ball-l53 {
  0%,
  50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }

  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}

@keyframes ball-l53 {
  0%,
  50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }

  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}

@-webkit-keyframes ball-r53 {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }

  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}

@keyframes ball-r53 {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }

  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}

@-webkit-keyframes shadow-l-n53 {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}

@keyframes shadow-l-n53 {
  0%,
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0.125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}

@-webkit-keyframes shadow-r-n53 {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }

  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shadow-r-n53 {
  0% {
    opacity: 0.125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }

  50%,
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing-l {
  -webkit-animation: ball-l53 0.425s ease-in-out infinite alternate;
  animation: ball-l53 0.425s ease-in-out infinite alternate;
}

.swing-r {
  -webkit-animation: ball-r53 0.425s ease-in-out infinite alternate;
  animation: ball-r53 0.425s ease-in-out infinite alternate;
}

.shadow-l {
  -webkit-animation: shadow-l-n53 0.425s ease-in-out infinite alternate;
  animation: shadow-l-n53 0.425s ease-in-out infinite alternate;
}

.shadow-r {
  -webkit-animation: shadow-r-n53 0.425s ease-in-out infinite alternate;
  animation: shadow-r-n53 0.425s ease-in-out infinite alternate;
}
/* End animation-end */

/* darkMood */

